

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/drug.jpg'); /* Adjust the path based on your folder structure */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fixed position */
  /* You can add more styles if needed */
}

